Requirements:

Gelos requires a simple login program with a menu of options:

Login – for users who have previously registered. Username and password to be checked for validity.

Register – create a new user account.

Passwords – new users given the option to enter their own password or generate one.

Generated passwords – user given the option to choose the password character types – numbers, symbols or letters. The default password length should be applied, but users should also be allowed to choose how many characters.

Save file – usernames and passwords should be saved to a text file accounts.txt.

Exit – delay for 2 seconds before exit.

View accounts – to display user account information from the accounts.txt file (assuming that only admin have access to this program).

